<%- include('../includes/head', {title: 'Create Book'}) %>

<div class="container">
    <div class="book-preview">
        <h1>Create Book</h1>
        <div class="book-preview-item">
            <%- include('../books/form')%>
        </div>
    </div>

</div>


<%- include ('../includes/footer') %>