<!DOCTYPE html>
<html lang="en">
<head>
    <link href='/css/main.css' type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
<header>
    <nav>
        <div class="container">
            <ul class="main-menu">
                <li><a href="/">Main</a></li>
                <li><a href="/create">Add book</a></li>
            </ul>
        </div>
    </nav>
</header>