<!DOCTYPE html>
<html lang="en">
<%- include ('includes/header', {'title': `ViewBook id ${book.id}` }) %>

<div class="container">
    <div class="book-preview">
        <div class="book-preview-item">
           <form>
            <input type="text" />
           </form>
        </div>
    </div>

</div>

<%- include ('includes/footer') %>
